<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources for Covid Data</title>
</head>
<style>
    a {
        text-align: center;
    }
</style>

<body>
    <a href="https://projectify-covidapp.herokuapp.com/countryList">Countries List</a><br>
    <a href="https://projectify-covidapp.herokuapp.com/country">All Countries Info</a><br>
    <a href="https://projectify-covidapp.herokuapp.com/country/India">Specific Country(change the country name at the
        end of
        the url)</a>
    <a href="https://projectify-covidapp.herokuapp.com/MostCases">Countries with Most Active Cases</a>
    <br>
</body>

</html>